@model Kodimax_web.Models.Candy

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Candy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketCandy.id_ticket_candy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketCandy.id_ticket_candy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_candy }) |
    @Html.ActionLink("Back to List", "Index")
</p>
